@model Final_Nba_API.Models.CurrentPlayer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CurrentPlayer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrentPlayerID" />
            <div class="form-group">
                <label asp-for="CurrentPlayerName" class="control-label"></label>
                <input asp-for="CurrentPlayerName" class="form-control" />
                <span asp-validation-for="CurrentPlayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPlayerPosition" class="control-label"></label>
                <input asp-for="CurrentPlayerPosition" class="form-control" />
                <span asp-validation-for="CurrentPlayerPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPlayerDOB" class="control-label"></label>
                <input asp-for="CurrentPlayerDOB" class="form-control" />
                <span asp-validation-for="CurrentPlayerDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbaTeamID" class="control-label"></label>
                <select asp-for="NbaTeamID" class="form-control" asp-items="ViewBag.NbaTeamID"></select>
                <span asp-validation-for="NbaTeamID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
